@model SGO.Models.Obra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Obra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coeficiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coeficiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finalizada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finalizada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
