@model SGO.Models.ViewModels.ObraInfoViewModel

@{
    ViewBag.Title = "Details";
}
<div id="bodyContainer">
    <div class="row" id="titulo-obra">
        <h3 class="col-md-8">@Html.DisplayFor(model => model.NombreObra)</h3>
        <div class="btn-group col-md-4">
            <button id="btnLimpiar" class="btn btn-warning col-md-6" onclick="window.location.reload()">Limpiar filtros</button>
            <button class="btn btn-warning col-md-6">Modificar obra</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.SelectedRubroID, Model.Rubros,
                new
                {
                    id = "ddlRubro",
                    @class = "form-control",
                    onchange = "window.location.href = window.location.origin + \"" +
                                                "/Obras/Details/" + Model.ObraID +
                                                "/\" + GetRubroSeleccionado() + \"" +
                                                "/0/0/0/true" + "\""
                })
        </div>
        <script>
            function GetRubroSeleccionado(){
                return $("#ddlRubro").val();
            };
        </script>
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.SelectedSubRubroID, Model.Subrubros, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.SelectedItemID, Model.Items, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.SelectedSubItemID, Model.Subitems, new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            @Html.CheckBoxFor(x => x.SelectedEnPesos, new { id = "ckbEnPesos" })
        </div>
        <div class="col-md-2"></div>
        <button class="btn btn-danger col-md-2">Registrar pago</button>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="graficoBarras"></div>
            <div id="graficoTorta"></div>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayFor(model => model.AEntregar)
                </dt>
                <dd>
                    Cantidad a entregar
                </dd>
                <dt>
                    @Html.DisplayFor(model => model.Entregado)
                </dt>
                <dd>
                    Cantidad entregada
                </dd>
                <dt>
                    @Html.DisplayFor(model => model.Movimientos)
                </dt>
                <dd>
                    Número de movimientos
                </dd>
            </dl>
        </div>
    </div>
    <hr />
    <div>
        <button asp-action="Index" class="btn">Volver</button>
    </div>
</div> 
@section scripts {
    @Scripts.Render("~/Scripts/obra-details.js")
}
<script src="https://d3js.org/d3.v4.min.js"></script>
