@model IEnumerable<SGO.Models.Obra>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coeficiente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsFecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModFecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Finalizada)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coeficiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalizada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <a asp-action="Procesar">Procesar</a>
    </tfoot>
</table>
